<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>7</key>
	<string>最高分:%d</string>
	<key>6</key>
	<string>分数:%d</string>
	<key>5</key>
	<string>关于</string>
	<key>4</key>
	<string>设置</string>
	<key>3</key>
	<string>排行榜</string>
	<key>2</key>
	<string>无尽模式</string>
	<key>1</key>
	<string>标准模式</string>
</dict>
</plist>
